@model VehicleVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> @(Model.Vehicle.Id!=0?"Update":"Create") Vehicle</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Vehicle.Id" hidden />
            <input asp-for="Vehicle.ImageUrl" hidden />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @* <div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.Make" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.Make" class="ms-2">Vehicle Name</label>
                            <span asp-validation-for="Vehicle.Make" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.Model" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.Model" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.Model" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.LicenseNo" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.LicenseNo" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.LicenseNo" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.Year" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.Year" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.Year" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.EngineSize" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.EngineSize" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.EngineSize" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.Transmission" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.Transmission" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.Transmission" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.Features" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.Features" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.Features" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.AdditionalInformation" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.AdditionalInformation" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.AdditionalInformation" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.Color" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.Color" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.Color" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.Mileage" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.Mileage" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.Mileage" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Vehicle.AskingPrice" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.AskingPrice" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.AskingPrice" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="Vehicle.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label asp-for="Vehicle.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="Vehicle.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow " />
                            <label asp-for="Vehicle.ImageUrl" class="ms-2"></label>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 col-md-3">
                                @if (Model.Vehicle.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }

                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Vehicle" asp-action="Index" class="btn btn-outline-primary border form-control ">
                                    Back to List
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Vehicle.ImageUrl" width="100%"
                    style="border-radius:5px"; border:1px solid #bbb9b9 />
                </div>
            </div>
            
        </form>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}